*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	font-size: 4rem;
}
button {
	border: none;
	cursor: pointer;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,
ul {
	list-style: none;
}
.wrapper {
	max-width: 992px;
	padding: 30px;
}
