* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--main: lightseagreen;
	--second: rgb(15, 96, 92);
	--dark: #2e3239;
	--grey: #535353;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--dark);
}
.wrapper {
	padding: 50px;
	width: 800px;
	background-image: linear-gradient(var(--grey), var(--dark));
	color: var(--white);
	text-align: center;
	border: 1px solid var(--black);
	border-radius: 15px;
	box-shadow: 0 0 15px var(--black);
}
.wrapper h1 {
	font-size: 36px;
	margin-bottom: 10px;
}
.wrapper p {
	font-size: 26px;
	margin-bottom: 50px;
	font-weight: 200;
}
.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-left,
.section-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.app-body input {
	margin-bottom: 10px;
	font-size: 60px;
	width: 100%;
}
.app-body input,
.app-body select {
	color: var(--white);
	border: none;
	background: none;
	text-align: center;
}
.app-body select {
	padding: 10px 20px;
	font-size: 36px;
	cursor: pointer;
}
.app-body input:focus,
.app-body select:focus {
	outline: none;
	color: var(--main);
}
.swap {
	align-self: flex-end;
	margin: 5px;
	padding: 5px 50px;
	background-image: linear-gradient(45deg, var(--main), var(--second));
	font-size: 30px;
	border: none;
	border-radius: 25px;
	color: var(--white);
	cursor: pointer;
}
.wrapper .rate-info {
	margin-top: 30px;
	margin-bottom: 0;
}
